@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Righteous&family=Secular+One&display=swap');

.collections-content {
  position: relative;
}

.all-cards__container {
  /*flex*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2em;
  justify-content: center;
  /*properties*/
  border: solid white;
  width: 95%;
  height: fit-content;
  min-height: 1025px;
  background-color: #ffd400;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 30px;

  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.collections-title {
  width: 100%;
  height: fit-content;
  color: black;
  margin: 15px;
}

.collections-title > h2 {
  text-align: center;
}

.stat-info_collection {
  display: flex;
  margin: 5px 5px 5px 5px;
}

.stat-icon_collection {
  padding: 2px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-basis: 60%;
}
.stat-icon_collection > p::first-letter {
  text-transform: uppercase;
}

.stat-value_collection {
  padding: 5px 5px 5px 5px;
  text-align: left;
  flex-basis: 30%;
}

.stat-value_collection > p {
  font-size: 0.7em;
}

.stat-icon_collection > p {
  font-size: 0.7em;
}

.hp-box_collection {
  background-color: #48bf53;
}

.attack-box_collection {
  background-color: #c80808;
}

.defense-box_collection {
  background-color: #2f57d1;
}

.special-attack-box_collection {
  background-color: #ffbf00;
}

.special-defense-box_collection {
  background-color: #a8a9ad;
}

.speed-box_collection {
  background-color: #03bb99;
}

.show-card-container_collection {
  flex-grow: 50%;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 260px;
  margin: 5px;
  /*border*/
  border-radius: 15px;

  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.show-card_collection {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  -o-transition: -o-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.show-card_collection > div {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back-card_collection {
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: collection-card-up;
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);
}

.show-card_collection.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flex-row_collection {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card-content_collection {
  position: relative;
  animation-duration: 0.5s;
  animation-name: collection-content-card-default;
}

.card-content_collection:hover {
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);
  /*animation*/
  animation-name: collection-card-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.sprites-image {
  height: 85%;
  width: 85%;
  padding: 10px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.first-box-undefined_collection {
  border-radius: 15px 15px 15px 15px;
  background-image: url('../../public/images/card-white-gold.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.first-box-normal_collection {
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/card-white-gold.png');
  background-size: cover;
  height: 73%;
  width: 100%;
  position: relative;
}

.first-box-shiny_collection {
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/card-gold.png');
  background-size: cover;
  height: 73%;
  width: 100%;
  position: relative;
}

.first-box-legendary_collection {
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/card-purple-gold.png');
  background-size: cover;
  height: 73%;
  width: 100%;
  position: relative;
}

.first-box-legendary-shine_collection {
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/card-purple-gold-shine.png');
  background-size: cover;
  height: 73%;
  width: 100%;
  position: relative;
}

.attribute-normal-id_collection {
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
  background-color: yellow;
  text-indent: 1em;
}

.attribute-normal-id_collection::before {
  content: '#';
}

.attribute-shiny-id_collection {
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
  background-color: #f58216;
  color: white;
  text-indent: 1em;
}

.attribute-shiny-id_collection::before {
  content: '#';
}

.attribute-shiny-id_collection::after {
  content: '	\002666';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.attribute-legendary-id_collection {
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
  background-color: #9d4edd;
  color: white;
  text-indent: 1em;
}

.attribute-legendary-id_collection::before {
  content: '#';
}

.attribute-legendary-id_collection::after {
  content: '	\002605';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.attribute-legendary-shine-id_collection {
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
  background: rgb(131, 80, 195);
  background: radial-gradient(
    circle,
    rgba(131, 80, 195, 1) 0%,
    rgba(64, 38, 125, 1) 100%
  );
  color: white;
  text-indent: 1em;
}

.attribute-legendary-shine-id_collection::before {
  content: '#';
}

.attribute-legendary-shine-id_collection::after {
  content: '	\002605 \002605 \002605';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.attribute-normal_collection {
  font-size: 0.8em;
  font-weight: 100;
  background-color: #e41f25;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.attribute-legendary_collection {
  font-size: 0.8em;
  font-weight: 100;
  background-color: #9d4edd;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.attribute-legendary-shine_collection {
  font-size: 0.8em;
  font-weight: 100;
  background: rgb(131, 80, 195);
  background: radial-gradient(
    circle,
    rgba(131, 80, 195, 1) 0%,
    rgba(64, 38, 125, 1) 100%
  );
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.attribute-shiny_collection {
  font-size: 0.8em;
  font-weight: 100;
  background: #f58216;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.second-box_collection {
  height: 27%;
  width: 100%;
  bottom: 0;
  position: static;
  border-radius: 0px 0px 15px 15px;
  color: white;
  background-color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}

.second-box_collection:hover {
  position: absolute;
  height: 90%;
  animation-name: collection-expand_info;
  animation-duration: 0.7s;
}

.box_collection > h4::first-letter {
  text-transform: capitalize;
}

.flex-column-stats_collection {
  width: 100%;
  height: fit-content;
  display: flex;
}

.box-1-stats_collection {
  font-size: smaller;
  background-color: #161b22;
  width: 100%;
  height: 100%;
  flex-basis: 1;
}

.box-2-stats_collection {
  font-size: smaller;
  background-color: #161b22;
  width: 100%;
  height: 100%;
  flex-basis: 1;
}

.all-elemets_collection {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.pokemon-types_collection {
  display: inline-flex;
}

.spesific-element_collection {
  position: relative;
}

.spesific-element_collection:hover {
  cursor: pointer;
}

.spesific-element_collection .tooltip-text_collection {
  visibility: hidden;
  width: 50px;
  border: 0.13rem solid white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -9px;
}

.spesific-element_collection .tooltip-text_collection::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.spesific-element_collection:hover .tooltip-text_collection {
  visibility: visible;
}

.tooltip-text_collection,
.tooltip-content_collection {
  min-width: fit-content;
  font-size: 11px;
}

.tooltip-text_collection > p::first-letter {
  text-transform: capitalize;
}

.tooltip-bug_collection {
  background-color: #84c400;
}
.tooltip-dark_collection {
  background-color: #5b5366;
}
.tooltip-dragon_collection {
  background-color: #0070ca;
}
.tooltip-electric_collection {
  background-color: #fbd200;
}
.tooltip-fairy_collection {
  background-color: #fb8aec;
}
.tooltip-fighting_collection {
  background-color: #e12c6a;
}
.tooltip-fire_collection {
  background-color: #ff983f;
}
.tooltip-flying_collection {
  background-color: #8aace4;
}
.tooltip-ghost_collection {
  background-color: #4b6ab3;
}
.tooltip-grass_collection {
  background-color: #35c04a;
}
.tooltip-ground_collection {
  background-color: #e97333;
}
.tooltip-ice_collection {
  background-color: #4bd2c1;
}
.tooltip-normal_collection {
  background-color: #929ba3;
}
.tooltip-poison_collection {
  background-color: #b667cf;
}
.tooltip-psychic_collection {
  background-color: #fe8792;
}
.tooltip-rock_collection {
  background-color: #c9b787;
}
.tooltip-steel_collection {
  background-color: #598fa3;
}
.tooltip-water_collection {
  background-color: #3393dd;
}

.spesific-element_collection > img {
  margin-top: 8px;
  margin-left: 3.5px;
  margin-right: 3.5px;
  margin-bottom: 4px;
  height: 25px;
  width: 25px;
}

@keyframes collection-card-up {
  0% {
    opacity: 100%;
    bottom: 0px;
  }
  100% {
    opacity: 100%;
    bottom: 7px;
  }
}

@keyframes collection-content-card-default {
  0% {
    opacity: 100%;
    bottom: 7px;
  }
  100% {
    opacity: 100%;
    bottom: 0px;
  }
}

@keyframes collection-expand_info {
  0% {
    height: 27%;
  }
  100% {
    height: 90%;
  }
}

@media screen and (max-width: 724px) {
  .collections-content {
    margin-top: 10px;
    padding: 0px;
    width: 100%;
  }

  .box_collection > p {
    font-size: 0.5em;
  }

  .box_collection h4 {
    font-size: 0.5em;
    font-weight: 100;
  }

  .box-1_stats_collection {
    height: auto;
  }

  .box-2_stats_collection {
    height: auto;
  }

  .stat-icon_collection > p {
    font-size: 0.43em;
  }

  .stat-value_collection > p {
    font-size: 0.43em;
  }

  .all-cards__container {
    padding: 5px;
    width: 95%;
  }

  .show-card-container_collection {
    flex-grow: 50%;
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 160px;
    margin: 1px;
    /*border*/
    border-radius: 15px;

    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
  }

  .back-card_collection {
    width: 110px;
    height: 150px;
    margin: 1px;
    animation-name: content-card-up;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  .attribute-normal_collection {
    padding: 3px 0px 3px 0px;
  }
  .attribute-shiny_collection {
    padding: 3px 0px 3px 0px;
  }

  .attribute-legendary_collection {
    padding: 3px 0px 3px 0px;
  }

  .attribute-legendary-shine_collection {
    padding: 3px 0px 3px 0px;
  }

  /*border*/
  .all-elemets_collection {
    display: flex;
    justify-content: center;
  }
  .pokemon-types_collection {
    display: inline-flex;
    margin-bottom: 3px;
  }
  .spesific-element_collection {
    position: relative;
  }
  .spesific-element_collection .tooltip-text_collection {
    visibility: hidden;
    width: 50px;
    border: 0.13rem solid white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -12.5px;
  }

  .spesific-element_collection .tooltip-text_collection::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  .spesific-element_collection:hover .tooltip-text_collection {
    visibility: visible;
  }
  /**/
  .tooltip-text_collection,
  .tooltip-content_collection {
    min-width: fit-content;
    font-size: 0.43em;
  }

  .spesific-element_collection > img {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 15px;
    width: 15px;
  }

  .card-content_collection:hover {
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);

    /*animation*/
    position: relative;
    animation-name: content-card-up;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes content-card-up {
    0% {
      opacity: 100%;
      bottom: 0px;
    }
    100% {
      opacity: 100%;
      bottom: 3px;
    }
  }

  .second-box_collection:hover {
    position: absolute;
    height: 100%;
    animation-name: expand_info;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }

  @keyframes expand_info {
    0% {
      height: 27%;
    }
    100% {
      border-radius: 15px;
      height: 100%;
    }
  }

  .stat-info_collection {
    display: flex;
    margin: 1px 1px 1px 1px;
  }

  /* .tooltip-text > p::first-letter {
    text-transform: capitalize;
  } */
}
