@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-container {
  background-image: url('../../public/images/jumboront-black-gold.png');
}

.profile-attr-legendary-shine::after {
  content: '	\002605 \002605 \002605';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.profile-attr-shiny::after {
  content: '	\002666';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.profile-attr-legendary::after {
  content: '	\002605';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}
/* .profile-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-image: url('../../public/images/jumboront-black-gold.png');
  flex: 1;
}

.profile-left-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
  background-color: blue;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.left-opacity {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1em;
  padding: 20px;
  background-color: yellow;
}

.left-blur {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;


  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: 70%;


  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 1);
}

.profile-detail-container {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 20px;
}

.profile-1 {
  display: flex;
  position: relative;
  flex: 1;
  border-radius: 10px;
}

.profile-1-left-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  padding: 10px;
  background-color: blue;
  border-radius: 10px;
}

.profile-1-main-picture {
  display: flex;
  flex: 2;
  background-color: aqua;
}

.profile-1-main-picture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.profile-1-main-taste {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex: 1;
  background-color: blueviolet;
}

.profile-1-right-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 5px;
  background-color: burlywood;
}

.profile-1-right-container header {
  background-color: teal;
  color: white;
  border-bottom: 1px solid white;
}

.header-info {
  padding: 5px;
}

.profile-information {
  flex: 1;
  background-color: cadetblue;
}

.profile-main-picture img {
  width: 100px;
  height: 100px;
}

.profile-2 {
  flex: 1;
  border-radius: 10px;
}

.profile-3 {
  flex: 1;
  border-radius: 10px;
}

.profile-opacity-1 {
  position: relative;
  flex: 1;
  background-color: #161b22;
  opacity: 90%;
  border-radius: 10px;
}

.profile-opacity-2 {
  flex: 1;
  background-color: #161b22;
  opacity: 90%;
  border-radius: 10px;
}

.profile-opacity-3 {
  flex: 1;
  background-color: #161b22;
  opacity: 90%;
  border-radius: 10px;
}

.profile-rigth-content {
  flex: 2;
  background-color: brown;
}

.profile-content h2 {
  color: white;
} */
