@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Secular+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
  margin-bottom: 5px;
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px 5px 10px;
}

nav li:hover {
  border-radius: 0px 0px 10px 10px;
  background-color: #161b22;
}

header {
  display: inline;
}

nav {
  text-align: center;
  top: 0;
  background: #ffd400;
  position: sticky;
}

nav a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

nav li:hover a {
  color: white;
}

/* nav li:hover {
  background-color: white;
} */

.agaz-header {
  display: flex;
  flex-direction: row;
  background-color: #161b22;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.agas-logo {
  color: #ffd400;
  flex-basis: 95%;
}

.agas-logo h1 {
  margin-left: 20px;
}
.icon-image {
  padding: 10px;
}

.icon-image img:hover {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.icon-image img {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
  flex-basis: 5%;
  border-radius: 40px;
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}

.jumbotron {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  height: 300px;
  box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.13);
}

.white-github {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.white-github:hover {
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/jumboront-gold.png');
  background-size: cover;
  animation-name: kecerahan;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes kecerahan {
  0% {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
  }
  100% {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
  }
}

.jumbotron-over {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../public/images/jumboront-black-gold.png');
  position: absolute;
}

.jumbotron-over {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);

  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.jumbotron-over:hover {
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(30%);
  -o-filter: brightness(30%);
  -ms-filter: brightness(30%);
  filter: brightness(30%);
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.social-media__list {
  width: 10px;
  height: 10px;
  background-color: white;
}

.image-hover__github {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
}

.image-hover__black {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}

@keyframes example {
  0% {
    opacity: 10%;
    top: -120px;
  }
  100% {
    opacity: 100%;
    top: 0px;
  }
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.container-content__first {
  justify-content: center;
  /* Properti */
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #ffd400;
  /*card*/
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.container-content__second {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #ffd400;
}

.flex-row {
  flex-grow: 50%;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  margin: 5px;
  background-color: black;
  /*border*/
  border-radius: 15px;
}

.first-box {
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/jumboront-white-gold.png');
  background-size: cover;
  height: 76%;
}

.second-box {
  height: 24%;
  border-radius: 0px 0px 15px 15px;
  color: white;
  background-color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box img {
  border-radius: 15px 15px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box > h4::first-letter {
  text-transform: capitalize;
}

.second-box h4 {
  background-color: rgb(255, 0, 0);
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.second-box p {
  text-align: justify;
  font-size: 0.8em;
  padding: 5px 13px 5px 13px;
}

.first-box:hover {
  cursor: pointer;
}

.card-content:hover {
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);

  /*animation*/
  position: relative;
  animation-name: content-card;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes content-card {
  0% {
    opacity: 100%;
    bottom: 0px;
  }
  100% {
    opacity: 100%;
    bottom: 10px;
  }
}

footer {
  box-shadow: 0px -3px 2px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px -3px 2px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px -3px 2px -1px rgba(0, 0, 0, 0.13);
  margin-top: 50px;
  padding: 20px;
  font-weight: 700;
  text-align: center;
  background: #ffd400;
  color: black;
}

@media screen and (max-width: 1000px) {
  .main-content {
    padding: 20px;
  }
  .container-content__first {
    justify-content: center;
    /* Properti */
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #ffd400;
    /*card*/
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .flex-row {
    flex-grow: 50%;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin: 5px;
    background-color: black;
    /*border*/
    border-radius: 15px;
  }

  .card-content:hover {
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);

    /*animation*/
    position: relative;
    animation-name: content-card;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes content-card {
    0% {
      opacity: 100%;
      bottom: 0px;
    }
    100% {
      opacity: 100%;
      bottom: 3px;
    }
  }
}
