@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Righteous&family=Secular+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
}

.content-pokecards {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav li {
  margin-right: 10px;
  margin-bottom: 5px;
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px 5px 10px;
}

nav li:hover {
  border-radius: 0px 0px 10px 10px;
  background-color: #161b22;
}

header {
  display: inline;
}

nav {
  text-align: center;
  top: 0;
  background: #ffd400;
  position: sticky;
}

nav a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

nav li:hover a {
  color: white;
}

/* nav li:hover {
  background-color: white;
} */

.agaz-header {
  height: 55px;
  display: flex;
  flex-direction: row;
  background-color: #161b22;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.agas-logo {
  color: #ffd400;
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.agas-logo a {
  cursor: pointer;
  color: #ffd400;
  text-decoration: none;
}

.agas-logo a:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.agas-logo h1 {
  margin-left: 20px;
}
.icon-image {
  cursor: pointer;
}

.icon-image img:hover {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.trainer-name {
  color: white;
  right: 0;
  width: fit-content;
}

.account-option {
  width: fit-content;
  margin-right: 20px;
  position: absolute;
  right: 0;
}

.icon-image img {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
  flex-basis: 5%;
  border-radius: 40px;
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}

.icon-dropdown {
  /* background-color: #0070ca; */
  position: relative;
  display: inline-block;
  margin: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 10px;
  border-radius: 7px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  line-height: 2;
}

.dropdown-content p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  line-height: 2;
}

.dropdown-content p::after {
  content: '	\2755';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.icon-dropdown:hover .dropdown-content {
  display: block;
}
.upper-dropdown:hover {
  background-color: #f58216;
  color: white;
  border-radius: 7px 7px 0px 0px;
}

.middle-dropdown:hover {
  background-color: #f58216;
  color: white;
}

.bottom-dropdown:hover {
  background-color: #f58216;
  color: white;
  border-radius: 0px 0px 7px 7px;
}

.circle-logout {
  display: inline-block;
  position: absolute;
  margin-top: 9px;
  right: 20px;
}
/* .icon-dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */
.jumbotron {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  height: 300px;
  box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.13);
}

.white-github {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.white-github:hover {
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/jumboront-gold.png');
  background-size: cover;
  animation-name: kecerahan;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes kecerahan {
  0% {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
  }
  100% {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
  }
}

.jumbotron-over {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../public/images/jumboront-black-gold.png');
  position: absolute;
}

.jumbotron-over {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);

  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.jumbotron-over:hover {
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(30%);
  -o-filter: brightness(30%);
  -ms-filter: brightness(30%);
  filter: brightness(30%);
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.social-media__list {
  width: 10px;
  height: 10px;
  background-color: white;
}

.image-hover__github {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
}

.image-hover__black {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}

@keyframes example {
  0% {
    opacity: 10%;
    top: -120px;
  }
  100% {
    opacity: 100%;
    top: 0px;
  }
}

.open-credit {
  cursor: pointer;
  padding: 10px;
  font-family: 'Righteous', cursive;
  background-color: #ffd400;
  border-color: #ffd400;
  border-radius: 10px;
  font-size: 1.2em;
  transition: 0.2s;
}

.open-credit:hover {
  scale: 1.2;
}

.shuffle-button {
  cursor: pointer;
  padding: 10px;
  color: white;
  font-family: 'Righteous', cursive;
  background-color: #161b22;
  border-radius: 10px;
  transition: 0.2s;
}

.shuffle-button:hover {
  scale: 1.15;
  background-color: #f58216;
  border-color: #f58216;
}

.shuffle-button:disabled {
  background-color: grey;
  border-color: grey;
  cursor: auto;
  scale: 1;
}

.pick-button {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-family: 'Righteous', cursive;
  background-color: #161b22;
  border-radius: 10px;
  transition: 0.2s;
}

.pick-button:hover {
  scale: 1.15;
  background-color: #f58216;
  border-color: #f58216;
}

.pick-button:disabled {
  cursor: auto;
  background-color: grey;
  border-color: grey;
}

.pick-button:disabled:hover {
  cursor: auto;
  scale: 1;
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.container-content__first {
  justify-content: center;
  /* Properti */
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  flex-wrap: wrap;
  background-color: #ffd400;
  /*card*/
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.container-content__second {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 30px;
  background-color: #ffd400;
  margin-bottom: 30px;
}

.flex-row-card {
  flex-grow: 50%;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin: 5px;
  background-color: black;
  /*border*/
  border-radius: 15px;
}

.first-box-undefined {
  border-radius: 15px 15px 15px 15px;
  background-image: url('../../public/images/card-white-gold.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.first-box-normal {
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/card-white-gold.png');
  background-size: cover;
  height: 73%;
  width: 100%;
  position: relative;
}

.first-box-shiny {
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/card-gold.png');
  background-size: cover;
  height: 73%;
  width: 100%;
  position: relative;
}

.first-box-legendary {
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/card-purple-gold.png');
  background-size: cover;
  height: 73%;
  width: 100%;
  position: relative;
}

.first-box-legendary-shine {
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../../public/images/card-purple-gold-shine.png');
  background-size: cover;
  height: 73%;
  width: 100%;
  position: relative;
}

.attribute-normal-id {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
  background-color: yellow;
  text-indent: 1em;
}

.attribute-normal-id::before {
  content: '#';
}

.attribute-shiny-id {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
  background-color: #fa9d1b;
  color: white;
  text-indent: 1em;
}

.attribute-shiny-id::before {
  content: '#';
}

.attribute-shiny-id::after {
  content: '	\002666';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.attribute-legendary-id {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
  background-color: #9d4edd;
  color: white;
  text-indent: 1em;
}

.attribute-legendary-id::before {
  content: '#';
}

.attribute-legendary-id::after {
  content: '	\002605';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.attribute-legendary-shine-id {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
  background: rgb(131, 80, 195);
  background: radial-gradient(circle, #8350c3 0%, #40267d 100%);
  color: white;
  text-indent: 1em;
}

.attribute-legendary-shine-id::before {
  content: '#';
}

.attribute-legendary-shine-id::after {
  content: '	\002605 \002605 \002605';
  right: 0;
  margin-right: 15px;
  position: absolute;
  animation-name: star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}
@keyframes star {
  0% {
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }
  50% {
    filter: brightness(0);
    filter: contrast(0);
    -webkit-filter: brightness(0);
    -webkit-filter: contrast(0);
  }
  100% {
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }
}

.box img {
  height: 90%;
  width: 90%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.flex-column__stats {
  width: 100%;
  height: fit-content;
  display: flex;
}

.flex-column__skills {
  margin-top: 5px;
  width: 100%;
  height: fit-content;
  display: flex;
}

.box-1_stats {
  background-color: #161b22;
  width: 100%;
  height: 100%;
  flex-basis: 1;
}
.box-2_stats {
  background-color: #161b22;
  width: 100%;
  height: 100%;
  flex-basis: 1;
}

.box-1_skills {
  color: grey;
  background-color: #161b22;
  width: 100%;
  height: 100%;
  flex-basis: 1;
}
.box-2_skills {
  color: grey;
  background-color: #161b22;
  width: 100%;
  height: 100%;
  flex-basis: 1;
}

.second-box {
  height: 30%;
  width: 100%;
  bottom: 0;
  position: static;
  border-radius: 0px 0px 15px 15px;
  color: white;
  background-color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}

.second-box:hover {
  position: absolute;
  height: 72%;
  animation-name: expand_info;
  animation-duration: 1s;
}

@keyframes expand_info {
  0% {
    height: 30%;
  }
  100% {
    height: 72%;
  }
}

.all-elemets {
  display: flex;
  justify-content: center;
}

.pokemon-types {
  display: inline-flex;
}

.spesific-element {
  position: relative;
}

.spesific-element:hover {
  cursor: pointer;
}

.spesific-element > img {
  margin-top: 7px;
  margin-left: 3.5px;
  margin-right: 3.5px;
  margin-bottom: 7px;
  height: 30px;
  width: 30px;
}

.spesific-element .tooltip-text {
  visibility: hidden;
  width: 50px;
  border: 0.13rem solid white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -6px;
}

.spesific-element .tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.spesific-element:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text,
.tooltip-content {
  min-width: fit-content;
  font-size: 11px;
}

.tooltip-text > p::first-letter {
  text-transform: capitalize;
}

.tooltip-bug {
  background-color: #84c400;
}
.tooltip-dark {
  background-color: #5b5366;
}
.tooltip-dragon {
  background-color: #0070ca;
}
.tooltip-electric {
  background-color: #fbd200;
}
.tooltip-fairy {
  background-color: #fb8aec;
}
.tooltip-fighting {
  background-color: #e12c6a;
}
.tooltip-fire {
  background-color: #ff983f;
}
.tooltip-flying {
  background-color: #8aace4;
}
.tooltip-ghost {
  background-color: #4b6ab3;
}
.tooltip-grass {
  background-color: #35c04a;
}
.tooltip-ground {
  background-color: #e97333;
}
.tooltip-ice {
  background-color: #4bd2c1;
}
.tooltip-normal {
  background-color: #929ba3;
}
.tooltip-poison {
  background-color: #b667cf;
}
.tooltip-psychic {
  background-color: #fe8792;
}
.tooltip-rock {
  background-color: #c9b787;
}
.tooltip-steel {
  background-color: #598fa3;
}
.tooltip-water {
  background-color: #3393dd;
}

.box-2_stats img {
  height: 20px;
  width: 20px;
}

.stat-info {
  display: flex;
  margin: 5px 5px 5px 5px;
}

.stat-icon {
  padding: 2px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-basis: 60%;
}

.hp-box {
  background-color: #48bf53;
}

.attack-box {
  background-color: #c80808;
}

.defense-box {
  background-color: #2f57d1;
}

.special-attack-box {
  background-color: #ffbf00;
}

.special-defense-box {
  background-color: #a8a9ad;
}

.speed-box {
  background-color: #03bb99;
}

.stat-icon > p {
  font-size: 0.8em;
}

.stat-icon > p::first-letter {
  text-transform: uppercase;
}

.stat-value {
  padding: 5px 5px 5px 5px;
  text-align: left;
  flex-basis: 30%;
}
.stat-value > p {
  font-size: 0.8em;
}

.box > h4::first-letter {
  text-transform: capitalize;
}

.attribute-normal {
  font-weight: 100;
  background-color: #e41f25;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.attribute-legendary {
  font-weight: 100;
  background-color: #9d4edd;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.attribute-legendary-shine {
  font-weight: 100;
  background: rgb(131, 80, 195);
  background: radial-gradient(
    circle,
    rgba(131, 80, 195, 1) 0%,
    rgba(64, 38, 125, 1) 100%
  );
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.attribute-shiny {
  font-weight: 100;
  background: #f58216;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.poke-pouch {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
}

.small-coin {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin-right: 5px;
  border: 3px solid black;
  background-color: #fdb713;
  position: relative;
  color: black;
  animation: rotation 4s infinite linear;
}

.small-coin > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotatey(0deg);
  }
  60% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}

.poke-balls {
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 35px;
  background-color: #ffd400;
  margin-left: 10px;
  margin-right: 10px;
}

.small-pokeball {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin-right: 10px;
  border: 2px solid black;
}

.small-pokeball-upper {
  width: 100%;
  height: 50%;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  background-color: #e41f25;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: small-ball-red;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  filter: brightness(2);
  filter: contrast(2);
  -webkit-filter: brightness(2);
  -webkit-filter: contrast(2);
}

.small-masterball-upper {
  width: 100%;
  height: 50%;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  background-color: #5a5396;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: small-ball-purple;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  filter: brightness(2);
  filter: contrast(2);
  -webkit-filter: brightness(2);
  -webkit-filter: contrast(2);
}

@keyframes small-ball-purple {
  0% {
    filter: brightness(2);
    filter: contrast(2);
    -webkit-filter: brightness(2);
    -webkit-filter: contrast(2);
  }
  50% {
    filter: brightness(1.3);
    filter: contrast(1.3);
    -webkit-filter: brightness(1.3);
    -webkit-filter: contrast(1.3);
  }
  100% {
    filter: brightness(2);
    filter: contrast(2);
    -webkit-filter: brightness(2);
    -webkit-filter: contrast(2);
  }
}

.small-master-ball__left {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 0px 10px 0px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1.5px solid black;
  border-top: 1.5px solid black;
  background-color: #bd3a70;
  animation-name: master-ball;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.small-master-ball__right {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 1.5px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-top: 1.5px solid black;
  border-radius: 0px 10px 0px 10px;
  background-color: #bd3a70;
  animation-name: master-ball;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

@keyframes master-ball {
  0% {
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }
  50% {
    filter: brightness(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    -webkit-filter: contrast(1);
  }
  100% {
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }
}

.small-master-ball__sign {
  font-family: 'Neucha', cursive;
  font-weight: 100;
  font-size: 0.1em;
  color: white;
  margin-bottom: 5px;
}

.xsmall-line-upper {
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.small-pokeball-bottom {
  width: 100%;
  height: 50%;
  position: relative;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xsmall-upper-ball {
  position: absolute;
  bottom: 0;
  width: 13px;
  height: 6.5px;
  border-radius: 13px 13px 0px 0px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.xsmall-upper-ball__xsmall {
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 2.5px;
  border-radius: 5px 5px 0px 0px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.xsmall-bottom-ball__xsmall {
  position: absolute;
  top: 0;
  width: 5px;
  height: 2.5px;
  border-radius: 0px 0px 5px 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.xsmall-bottom-ball {
  position: absolute;
  top: 0;
  width: 13px;
  height: 6.5px;
  border-radius: 0px 0px 13px 13px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(1.3px);
  }
  10% {
    transform: translateX(-1.3px);
  }
  15% {
    transform: translateX(1.3px);
  }
  20% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.xsmall-line-bottom {
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0;
}

.poke-coins {
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 35px;
  background-color: #ffd400;
  margin-left: 10px;
  margin-right: 10px;
}

.master-balls {
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 35px;
  background-color: #ffd400;
  margin-left: 10px;
  margin-right: 10px;
}

.first-box:hover {
  cursor: pointer;
}
.card-content {
  position: relative;
  animation-duration: 0.5s;
  animation-name: content-card-default;
}

@keyframes content-card-default {
  0% {
    opacity: 100%;
    bottom: 10px;
  }
  100% {
    opacity: 100%;
    bottom: 0px;
  }
}

.card-content:hover {
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);
  /*animation*/
  animation-name: content-card-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes content-card-up {
  0% {
    opacity: 100%;
    bottom: 0px;
  }
  100% {
    opacity: 100%;
    bottom: 10px;
  }
}

.choose-upper {
  width: 100%;
  height: 50%;
}

.choose-bottom {
  width: 100%;
  height: 50%;
}

.poke-choose_upper {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e41f25;
  border-radius: 15px 15px 0px 0px;
  animation-name: close-down;
  animation-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poke-choose_upper-master {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3c30a8;
  border-radius: 15px 15px 0px 0px;
  animation-name: close-down;
  animation-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poke-choose_upper-shiny {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 15px 15px 0px 0px;
  animation-name: close-down;
  animation-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes close-down {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.master-ball__left {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 0px 90px 0px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #bd3a70;
  animation-name: master-ball;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

.master-ball__right {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 0px 15px 0px 90px;
  background-color: #bd3a70;
  animation-name: master-ball;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}

@keyframes master-ball {
  0% {
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }
  50% {
    filter: brightness(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    -webkit-filter: contrast(1);
  }
  100% {
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }
}

.ultra-ball__right {
  width: 75%;
  height: 100%;
  position: absolute;
  top: -1px;
  background-color: yellow;
  animation-name: ultra-ball;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  filter: brightness(1.5);
  filter: contrast(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-filter: contrast(1.5);
}
.ultra-ball__left {
  width: 25%;
  height: 80%;
  margin-top: 10px;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  background-color: black;
}

.upper-ball {
  border-radius: 50px 50px 0px 0px;
  position: absolute;
  bottom: 0;
  width: 70px;
  height: 35px;
  border-left: 7px solid black;
  border-top: 7px solid black;
  border-right: 7px solid black;
  background-color: white;
}

.upper-ball__small {
  border-radius: 50px 50px 0px 0px;
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 15px;
  border-left: 3.5px solid black;
  border-top: 3.5px solid black;
  border-right: 3.5px solid black;
  background-color: white;
}

.line-upper {
  width: 100%;
  height: 5px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.line-bottom {
  width: 100%;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 0;
}

.bottom-ball {
  border-radius: 0px 0px 50px 50px;
  position: absolute;
  top: 0;
  width: 70px;
  height: 35px;
  border-left: 7px solid black;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  background-color: white;
}

.bottom-ball__small {
  border-radius: 0px 0px 50px 50px;
  position: absolute;
  top: 0;
  width: 30px;
  height: 15px;
  border-left: 3.5px solid black;
  border-bottom: 3.5px solid black;
  border-right: 3.5px solid black;
  background-color: white;
}

.poke-choose_bottom {
  cursor: pointer;
  transform-origin: 0 100%;
  width: 100%;
  height: 100%;
  background-color: white;
  animation-name: close-up;
  border-radius: 0px 0px 15px 15px;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  transform: scaleY(0);
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes close-up {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.master-ball__sign {
  font-family: 'Neucha', cursive;
  font-weight: 600;
  font-size: 4em;
  color: white;
}

.colored-toast-coin {
  font-size: small;
  padding: 20px;
  width: fit-content;
  background-color: #fdb713;
  border: 2px solid white;
  color: white;
  border-radius: 40px;
}

.colored-toast-normal {
  font-size: small;
  padding: 20px;
  width: fit-content;
  background-color: #e41f25;
  border: 2px solid white;
  color: white;
  border-radius: 40px;
}
.colored-toast-shiny {
  font-size: small;
  padding: 20px;
  width: fit-content;
  background-color: #ffff00;
  border: 2px solid white;

  border-radius: 40px;
}
.colored-toast-legendary {
  font-size: small;
  padding: 20px;
  width: fit-content;
  background-color: #824fc2;
  border: 2px solid white;
  color: white;
  border-radius: 40px;
}
.colored-toast-legendary-shine {
  font-size: small;
  padding: 20px;
  width: fit-content;
  background-color: #824fc2;
  border: 2px solid white;
  color: white;
  border-radius: 40px;
}

.colored-toast .swal2-confirm {
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 10px;
  transition: 0.2s;
}

.colored-toast .swal2-confirm:hover {
  scale: 1.3;
  color: white;
  background-color: black;
}

.footer {
  box-shadow: 0px -3px 2px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px -3px 2px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px -3px 2px -1px rgba(0, 0, 0, 0.13);
  padding: 20px;
  font-weight: 700;
  text-align: center;
  background: #ffd400;
  color: black;
}

@media screen and (max-width: 1000px) {
  .main-content {
    padding: 20px;
  }
  .container-content__first {
    justify-content: center;
    /* Properti */
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #ffd400;
    /*card*/
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .box > p {
    font-size: 0.8em;
  }

  .box h4 {
    font-size: 0.8em;
    font-weight: 100;
  }

  .flex-row-card {
    flex-grow: 50%;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 370px;
    margin: 5px;
    background-color: black;
    /*border*/
    border-radius: 15px;
  }

  .stat-icon > p {
    font-size: 0.6em;
  }
  .stat-value > p {
    font-size: 0.6em;
  }

  .card-content:hover {
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);

    /*animation*/
    position: relative;
    animation-name: content-card-up;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes content-card-up {
    0% {
      opacity: 100%;
      bottom: 0px;
    }
    100% {
      opacity: 100%;
      bottom: 3px;
    }
  }
}

@media screen and (max-width: 724px) {
  .main-content {
    padding: 10px;
  }
  .container-content__first {
    justify-content: center;
    /* Properti */
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #ffd400;
    /*card*/
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .box > p {
    font-size: 0.7em;
  }

  .box h4 {
    font-size: 0.7em;
    font-weight: 100;
  }
  .box-1_stats {
    height: auto;
  }
  .box-2_stats {
    height: auto;
  }

  .stat-icon > p {
    font-size: 0.6em;
  }
  .stat-value > p {
    font-size: 0.6em;
  }

  .flex-row-card {
    flex-grow: 50%;
    display: flex;
    flex-direction: column;
    width: 159px;
    height: 220px;
    margin: 2px;
    /*border*/
    border-radius: 15px;
  }

  .all-elemets {
    display: flex;
    justify-content: center;
  }

  .spesific-element .tooltip-text {
    visibility: hidden;
    width: 50px;
    border: 0.13rem solid white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -12.5px;
  }

  .spesific-element .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  .spesific-element:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip-text,
  .tooltip-content {
    min-width: fit-content;
    font-size: 0.6em;
  }

  .tooltip-text > p::first-letter {
    text-transform: capitalize;
  }

  .spesific-element > img {
    margin-left: 5px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
  }

  .card-content:hover {
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);

    /*animation*/
    position: relative;
    animation-name: content-card-up;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes content-card-up {
    0% {
      opacity: 100%;
      bottom: 0px;
    }
    100% {
      opacity: 100%;
      bottom: 3px;
    }
  }

  .second-box:hover {
    position: absolute;
    height: 100%;
    animation-name: expand_info;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes expand_info {
    0% {
      height: 27%;
    }
    100% {
      border-radius: 15px;
      height: 100%;
    }
  }
}

@media screen and (max-width: 554px) {
  .main-content {
    padding: 10px;
  }
  .container-content__first {
    justify-content: center;
    /* Properti */
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #ffd400;
    /*card*/
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .box > p {
    font-size: 0.45em;
  }

  .box h4 {
    font-size: 0.5em;
    font-weight: 100;
  }
  .box-1_stats {
    height: auto;
  }
  .box-2_stats {
    height: auto;
  }

  .stat-icon > p {
    font-size: 0.43em;
  }
  .stat-value > p {
    font-size: 0.43em;
  }

  .flex-row-card {
    flex-grow: 50%;
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 170px;
    margin: 2px;
    /*border*/
    border-radius: 15px;
  }

  .all-elemets {
    display: flex;
    justify-content: center;
  }

  .spesific-element .tooltip-text {
    visibility: hidden;
    width: 50px;
    border: 0.13rem solid white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -12.5px;
  }

  .spesific-element .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  .spesific-element:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip-text,
  .tooltip-content {
    min-width: fit-content;
    font-size: 0.43em;
  }

  .tooltip-text > p::first-letter {
    text-transform: capitalize;
  }

  .spesific-element > img {
    margin-left: 5px;
    margin-top: 5px;
    height: 15px;
    width: 15px;
  }

  .card-content:hover {
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);

    /*animation*/
    position: relative;
    animation-name: content-card-up;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes content-card-up {
    0% {
      opacity: 100%;
      bottom: 0px;
    }
    100% {
      opacity: 100%;
      bottom: 3px;
    }
  }

  .second-box:hover {
    position: absolute;
    height: 100%;
    animation-name: expand_info;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes expand_info {
    0% {
      height: 27%;
    }
    100% {
      border-radius: 15px;
      height: 100%;
    }
  }

  .box > img {
    height: 75%;
    width: 75%;
    object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 10px;
  }

  .master-ball__left {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px 0px 30px 0px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #bd3a70;
    animation-name: master-ball;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }

  .master-ball__right {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 15px 0px 30px;
    background-color: #bd3a70;
    animation-name: master-ball;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }

  @keyframes master-ball {
    0% {
      filter: brightness(1.5);
      filter: contrast(1.5);
      -webkit-filter: brightness(1.5);
      -webkit-filter: contrast(1.5);
    }
    50% {
      filter: brightness(1);
      filter: contrast(1);
      -webkit-filter: brightness(1);
      -webkit-filter: contrast(1);
    }
    100% {
      filter: brightness(1.5);
      filter: contrast(1.5);
      -webkit-filter: brightness(1.5);
      -webkit-filter: contrast(1.5);
    }
  }

  .master-ball__sign {
    font-family: 'Neucha', cursive;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
  }

  .poke-pouch {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
  }

  .poke-pouch p {
    font-size: 0.7em;
  }

  .poke-balls {
    padding: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 35px;
    background-color: #ffd400;
    margin-left: 5px;
    margin-right: 5px;
  }

  .small-pokeball {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-right: 5px;
    border: 2px solid black;
    position: relative;
  }

  .small-pokeball-upper {
    width: 100%;
    height: 50%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    background-color: #e41f25;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: small-ball-red;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    filter: brightness(2);
    filter: contrast(2);
    -webkit-filter: brightness(2);
    -webkit-filter: contrast(2);
  }

  @keyframes small-ball-red {
    0% {
      filter: brightness(2);
      filter: contrast(2);
      -webkit-filter: brightness(2);
      -webkit-filter: contrast(2);
    }
    50% {
      filter: brightness(1);
      filter: contrast(1);
      -webkit-filter: brightness(1);
      -webkit-filter: contrast(1);
    }
    100% {
      filter: brightness(2);
      filter: contrast(2);
      -webkit-filter: brightness(2);
      -webkit-filter: contrast(2);
    }
  }

  .small-masterball-upper {
    width: 100%;
    height: 50%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    background-color: #5a5396;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: small-ball-purple;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    filter: brightness(2);
    filter: contrast(2);
    -webkit-filter: brightness(2);
    -webkit-filter: contrast(2);
  }

  @keyframes small-ball-purple {
    0% {
      filter: brightness(2);
      filter: contrast(2);
      -webkit-filter: brightness(2);
      -webkit-filter: contrast(2);
    }
    50% {
      filter: brightness(1.3);
      filter: contrast(1.3);
      -webkit-filter: brightness(1.3);
      -webkit-filter: contrast(1.3);
    }
    100% {
      filter: brightness(2);
      filter: contrast(2);
      -webkit-filter: brightness(2);
      -webkit-filter: contrast(2);
    }
  }

  .small-master-ball__left {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0px 10px 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1.5px solid black;
    border-top: 1.5px solid black;
    background-color: #bd3a70;
    animation-name: master-ball;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }

  .small-master-ball__right {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1.5px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1.5px solid black;
    border-radius: 0px 10px 0px 10px;
    background-color: #bd3a70;
    animation-name: master-ball;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    filter: brightness(1.5);
    filter: contrast(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
  }

  @keyframes master-ball {
    0% {
      filter: brightness(1.5);
      filter: contrast(1.5);
      -webkit-filter: brightness(1.5);
      -webkit-filter: contrast(1.5);
    }
    50% {
      filter: brightness(1);
      filter: contrast(1);
      -webkit-filter: brightness(1);
      -webkit-filter: contrast(1);
    }
    100% {
      filter: brightness(1.5);
      filter: contrast(1.5);
      -webkit-filter: brightness(1.5);
      -webkit-filter: contrast(1.5);
    }
  }

  .small-master-ball__sign {
    font-family: 'Neucha', cursive;
    font-weight: 100;
    font-size: xx-small;
    color: white;
    margin-bottom: 5px;
  }

  .xsmall-line-upper {
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
  }

  .small-pokeball-bottom {
    width: 100%;
    height: 50%;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .xsmall-upper-ball {
    position: absolute;
    bottom: 0;
    width: 13px;
    height: 6.5px;
    border-radius: 13px 13px 0px 0px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .xsmall-upper-ball__xsmall {
    position: absolute;
    bottom: 0;
    width: 5px;
    height: 2.5px;
    border-radius: 5px 5px 0px 0px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .xsmall-bottom-ball__xsmall {
    position: absolute;
    top: 0;
    width: 5px;
    height: 2.5px;
    border-radius: 0px 0px 5px 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .xsmall-bottom-ball {
    position: absolute;
    top: 0;
    width: 13px;
    height: 6.5px;
    border-radius: 0px 0px 13px 13px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    5% {
      transform: translateX(1.3px);
    }
    10% {
      transform: translateX(-1.3px);
    }
    15% {
      transform: translateX(1.3px);
    }
    20% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }

  .xsmall-line-bottom {
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 0;
  }

  .poke-coins {
    padding: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 35px;
    background-color: #ffd400;
    margin-left: 5px;
    margin-right: 5px;
  }

  .small-coin > p {
    font-size: 1em;
  }

  .master-balls {
    padding: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 35px;
    background-color: #ffd400;
    margin-left: 5px;
    margin-right: 5px;
  }
}
